upstream {{ project_url }}_server {
  # fail_timeout=0 means we always retry an upstream even if it failed
  # to return a good HTTP response (in case the Unicorn master nukes a
  # single worker for timing out).

  server unix:{{ sockfile }} fail_timeout=0;
}

server {
    listen 80 default_server;
    server_name {{ project_url }};

#    user = {{ username }}
#    group = {{ username }}
#    listen.owner = {{ username }}
#    listen.group = {{ username }}

#    client_max_body_size 4G;

#    root {{ project_dir }};

    access_log {{ project_dir }}/logs/nginx-access.log;
    error_log {{ project_dir }}/logs/nginx-errors.log;

    location / {
        proxy_set_header X-Forward-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        if (!-f $request_filename) {
            proxy_pass http://{{ project_url }}_server;
            break;
        }
    }
}